
  
  .btn {
    height: 50px;
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 30px;
    outline: none;
    border: none;
    font-size: 1rem;
    color: #fff;
    cursor: pointer;
    background-color: var(--blue);
    /* padding: 10px; */
  }
.bi-plus{
    font-size: 1.6rem;
}
  
  .btn:hover {
    padding: 6px 18px;
    transition: all 0.3s ease-out;
    color: #fff;
    border: 2px solid var(--primary);
    transition: all 0.3s ease-out;
    background-color: var(--bluer);
  }

  @media screen and (max-width: 960px) {
      .btn{
          width: 120px;
          height: 40px;
          /* background-color: transparent; */
          /* color: var(--blue); */
          font-size: 0.7rem;
          /* border: 2px solid var(--blue); */
          /* border-radius: 10px; */

      }

  }