
.category-wrapper{
    width: 85vw;
    margin: auto;
    margin-top: 200px;
    min-height: 150vh;
    display: flex;
    justify-content: space-between;
    font-family: 'Open sans';

}


.category-leftdiv{
    width: 22%;
    background-color: #fff;
    height: 100vh;
    padding: 20px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 30px;

}
.category-leftdiv:first-child{
    font-size: 1.1rem;
    font-weight: 700;
    font-family: 'Quicksand';

}
.filter-input-field{
    outline: none;
    border: none;
    border-bottom: 2px solid #f1f1f1;
    padding:5px 0;
}
.filter-input-field::placeholder{
    color: #DBD4CF;
}
.filter-input-field:focus{
    border-bottom: 2px solid var(--blue);
}
.category-leftdiv>div{
    display: flex;
    flex-direction: column;
    font-size: 0.75rem;
    font-weight: 600;
    font-family: 'Open sans';
    gap: 10px;
}
.filter-type{
    color: #4B5874;
}
.price-fields{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.price-fields input{
    width: 45%;
}
.checkbox{
    display: flex;
    font-weight: 400;
    align-items: center;
    gap: 8px;

}
label{
    color: #666666;
}
.category-checkboxes{
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 2px;
}
.apply-filter{
    border: none;
    outline: none;
    padding: 10px;
    color: #fff;
    background-color: var(--blue);
    cursor: pointer;
    text-transform: capitalize;
    font-family: 'Open sans';
    font-weight: 600;
    font-size: 0.7rem;
    border-radius: 2px;
    margin-top: 20px;
}
.apply-filter:hover{
    background-color: var(--bluer);
}










.category-rightdiv{
    width: 75%;
}
.category-right-top{
    height: 120px;
    background-color: #fff;
    padding: 30px;
}
.category-right-top:first-child{
    font-weight: 700;
    font-family: 'Quicksand';
}
.category-right-body{

    min-height: 100vh;
    margin-top: 40px;
    display: grid;
    grid-gap: 3vw;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}
@media only screen and (max-width: 600px){
    .category-right-body{

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
}